.job-img {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  background: url(img/bg/11.jpg) 70% 40% no-repeat;
  background-size: cover;
  background-position: center center;
}

.job-img .job-banner {
  padding: 20px;
  max-width: 450px;
  margin: 60px auto 100px;
  background: rgba(255,255,255,0.8);
}

.job-img .job-banner h2 {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.job-img .job-img-inputs {
  left: 0;
  right: 0;
  bottom: -7px;
  padding: 20px 0;
  position: absolute;
  background: rgba(0,0,0,0.9);
}

.note {
  margin-top: 6px;
  padding: 5px;
  border-radius: 1px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
  background: #eee;
}
.input-group-addon {
  border-radius: 0;
}

@media (max-width: 768px) {
  .job-img .job-banner {
    padding: 10px;
    margin: 30px auto 100px;
  }
}

