<div class="col-md-9" [hidden]="!isOpen">
    <div class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: block; padding-right: 15px;">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button id="close-alert-button" aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                    <h4 id="myLargeModalLabel3" class="modal-title">Notification</h4>
                </div>
                <div class="modal-body">
                    <p>{{message}}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="ok-alert-button" class="btn-u btn-u-primary">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>