<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <title>Employees Profiles</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="favicon.ico">

    <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin'>

    <!--<link rel="stylesheet" href="assets1/plugins/line-icons/line-icons.css">-->

    <!--<link rel="stylesheet" href="assets1/plugins/image-hover/css/img-hover.css">-->
</head>
<body>
    <div class="wrapper">
        <app-header></app-header>
        <router-outlet></router-outlet>
        <modal-confirm></modal-confirm>
        <alert-popup></alert-popup>
        <app-footer></app-footer>
    </div>
</body>
</html>
