<form class="sky-form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
    <header>Information</header>

    <fieldset *ngFor="let direction of directions">
        <section class="col col-8">
            <label class="label">Title</label>
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input type="text" placeholder="Placeholder text"
                       disabled="true" formControlName="{{direction}}">
            </label>
            <div class="note note-success"
                *ngIf="form.get(direction).hasError('required')">
                <span>The field is required</span>
            </div>
            <div class="note note-success"
                 *ngIf="form.get(direction).hasError('minlength')">
                <span>Minimum of 2 characters</span>
            </div>
            <div class="note note-success"
                 *ngIf="form.get(direction).hasError('maxlength')">
                <span>Maximum of 32 characters</span>
            </div>
        </section>

        <div class="col-1 pull-right margin-top-30" (click)="remove(direction)">
            <i class="icon-custom icon-sm rounded-2x icon-color-u fa fa-trash-o"></i>
        </div>
        <div class="clearfix"></div>
    </fieldset>

    <footer>
        <button type="button" class="btn-u" (click)="cancel()">Cancel</button>
        <button type="submit" class="btn-u btn-u-default" [disabled]="form.invalid || !form.dirty">Submit</button>
    </footer>
</form>
<form class="sky-form" [formGroup]="addForm" (ngSubmit)="add(addForm)">
    <fieldset>

        <section class="col col-5">
            <label class="label">Choose direction</label>
            <label class="select">
                <select formControlName="selectTitle" (input)="cancelValidation(addForm, 'selectTitle')">
                    <option value="" selected>Choose direction</option>
                    <option *ngFor="let item of allDirections" [ngValue]="item">{{item}}</option>
                </select>
                <i></i>
            </label>
        </section>

        <section class="col col-5">
            <label class="label">Or add a new one</label>
            <label class="input">
                <i class="icon-prepend fa fa-user"></i>
                <input type="text" placeholder="Add new item" formControlName="textTitle"
                       (input)="cancelValidation(addForm, 'textTitle')">
            </label>
            <div class="note note-success"
                 *ngIf="addForm.get('textTitle').hasError('minlength') && addForm.get('textTitle').touched">
                <span>Minimum of 2 characters</span>
            </div>
            <div class="note note-success"
                 *ngIf="addForm.get('textTitle').hasError('maxlength') && addForm.get('textTitle').touched">
                <span>Maximum of 32 characters</span>
            </div>
        </section>

        <div class="col pull-right add-form-btn">
            <button type="submit" class="btn-u">Add</button>
                    <!--[disabled]="addForm.invalid || !addForm.dirty">Add</button>-->
        </div>
    </fieldset>
</form>